<section class="content-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 id="tag-line">Getting started is <br><span>incredibly simple.</span></h2>
            </div>
        </div>
        <div id="get-started" class="row">
            <div class="col-md-3">
                <div class="col-sm-12">
                    <img src="/images/contact.jpg" alt="Recipe PDF Image" />
                </div>
                <div class="col-sm-12">
                    <h3>Contact Us</h3>
                    <p>Get in touch for product samples or more information about Simplot Harvest Fresh Avocados.</p>
                    <a class="btn btn-primary hvr-shutter-out-vertical vg-btn-lg" href="#">Contact Us</a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="col-sm-12">
                    <img src="/images/recipes.jpg" alt="Recipe PDF Image" />
                </div>
                <div class="col-sm-12">
                    <h3>21 Ways Recipes</h3>
                    <p>Dig in to all the dip, spread and dressing recipes for Simplot Harvest Fresh Avocados in one downloadable guide.</p>
                    <a class="btn btn-primary hvr-shutter-out-vertical vg-btn-lg" href="#">View Recipes</a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="col-sm-12">
                    <img src="/images/brochure.jpg" alt="Brochure PDF Image" />
                </div>
                <div class="col-sm-12">
                    <h3>Simplot Harvest Fresh Avocados Brochure</h3>
                    <p>Download a printable brochure.</p>
                    <a class="btn btn-primary hvr-shutter-out-vertical vg-btn-lg" href="#">Download</a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="col-sm-12">
                    <img src="/images/savings.jpg" alt="Calculate Savings Website Image" />
                </div>
                <div class="col-sm-12">
                    <h3>Calculate Savings and Profits</h3>
                    <p>Dig in to all the dip, spread and dressing recipes for Simplot Harvest Fresh Avocados in one downloadable guide.</p>
                    <a class="btn btn-primary hvr-shutter-out-vertical vg-btn-lg" href="#">Calculate</a>
                </div>
            </div>

        </div>

    </div>
</section>