<!-- Content Layout -->
<section class="content-layout content-section">
  <div class="container">  
    <div class="row pad-top-small">
      <div class="col-md-12 heading text-center">
        <p>Our exceptional chefs have crafted four outstanding guacamole options using our hand-picked Hass avocados and authentic ingredients. Serve as is or add your own ingredients for a house-made signature guacamole. So simple. So good.</p>
      </div>
    </div>
    <div class="farmers">
        <product-detail></product-detail>
      
        <div class="row-float farmer-loader pad-top-large text-center">
<!--
          <button class="btn btn-ghost btn-lg">
            Load More &nbsp; <i class="fa fa-spinner"></i>
          </button>
-->
        </div>
      </div>
    
   
  </div>
</section>

<!-- // Content Layout -->
