<div class="container" ng-controller="RecipeCtrl">
    <input type="text" ng-model="nameFilter" />
    <a href="#" ng-click="order = 'id'">Order by id</a>
    <a href="#" ng-click="order = 'name'">Order by name</a>
    <a href="#" ng-click="order = 'age'">Order by age</a>
    
    <select ng-model="testFilter">
     <option value="">Select</option>
      <option value="31">31</option>
       <option value="27">27</option>
    </select>

    <ul class="grid" masonry="true">
        <li ng-repeat="item in items | filter: { name: nameFilter } | filter: { age: testFilter }">
            <span>{{item.name}}</span>
            <br /> <span>Age: {{item.age}}</span>
            <br /> <span>Company: {{item.company}}</span>
        </li>
    </ul>
</div>
