<!doctype html>
<html class="no-js" lang="" ng-app="app">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Veggie Theme</title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="stylesheet" href="/styles/vendor.css">
    <link rel="stylesheet" href="/styles/style.css">
    <script  src="js/vendor/modernizr.js"></script>
  </head>
  <body>
    <!--[if lt IE 10]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- Main Header -->
    
  <div class="wrap">
	  <header class="main-header-v1">
		<div ng-include='"templates/nav.html"'></div>  

		<div ng-if="isHome">
			<div ng-include='"partials/banners/home.html"'></div>  
		</div>
		<div ng-if="!isHome">
			<div ng-include='"partials/banners/sub-pages.html"'></div>  
		</div>
		
	  </header>
	<!-- Main Header // -->

	<div ng-view></div>

	<!-- Content Section 5 // -->
	<div ng-include='"templates/footer.html"'></div>  
</div>
      
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-route.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-animate.js"></script>

<script  src="js/vendor/vendor.js"></script>
<script  src="js/main.js"></script>
</body>
</html>