<!-- Main Footer  -->
<footer class="main-footer">
<div class="footer-top">
  <div class="container">
    <!--  col -1  -->
    <div class="col-md-3">
     <div class="widget-2">
        <h5>Corporate Links:</h5>
		  	<ul>
				<li>
					<a href="http://www.simplot.com/about">About Simplot</a>
				</li>
				<li>
					<a href="http://www.simplot.com/sustainability">Sustainability</a>
				</li>
				<li>
					<a href="http://www.simplot.com/international">International</a>
				</li>
				<li>
					<a href="http://www.simplot.com/careers">Careers</a>
				</li>
				<li>
					<a href="http://www.simplot.com/news">News</a>
				</li>
			</ul>
      </div>
     
    </div>
    <!--  col -1  // -->
    <!--  col -2  -->
    <div class="col-md-9">
      <!--  widget  -->
<!--		<img src="images/homepage/footer.jpg" alt="image of potato skins" />-->
    </div>
    <!--  col -4  // -->
  </div>
</div>
<div class="footer-bottom">
  <div class="container">
    <div class="col-md-12">
      <nav class="footer-nav">
        <ul class="nav navbar-nav">
		   <li><a href="http://www.simplot.com/contact_us">Contact Us</a></li>
		   <li><a href="http://www.simplot.com/copyright">Copyright</a></li>
		   <li><a href="http://www.simplot.com/privacy_policy">Privacy Policy</a></li>
		   <li><a href="http://www.simplot.com/terms_conditions">Terms &amp; Conditions</a></li>
		   <li><a href="http://employee.simplot.com" target="_blank">Employee Space</a></li>
		   <li><a href="https://simplotscholarships.versaic.com/" target="_blank">Scholarships</a></li>
		   <li><a href="http://www.facebook.com/jrsimplotcompany" target="_blank"><i class="fa fa-facebook"></i></a></li>
		 </ul>
      </nav>
    </div>
	<div class="col-md-12 text-center">
      <p>© 2016 J.R. Simplot Company</p>
    </div>
  </div>
</div>
</footer>
<!-- Main Footer //  -->