<div class="header-top-v-1">
	<div class="container">

		<div class="logo">
			<a href="index.html">
				<img src="images/hf_logo.png" height="164" width="164" alt="">
			</a>
		</div>

		<div class="header-top-right-v1">
			<nav class="navigation">
				<a href="" class="menu-toogle"></a>
				<ul>
					<li><a ng-class="{ active: isActive('/') }" href="#/">Home</a></li>
					<li><a ng-class="{ active: isActive('/guacamole') }" href="#/guacamole">Guacamole</a></li>
					<li><a ng-class="{ active: isActive('/pulp') }" href="#/pulp">Pulp</a></li>
					<li><a ng-class="{ active: isActive('/cut-fruit') }" href="#/cut-fruit">Cut Fruit</a></li>
					<li><a ng-class="{ active: isActive('/recipes') }" href="#/recipes">Recipes</a></li>
					<li><a ng-class="{ active: isActive('/get-started') }" href="#/get-started">Get Started</a></li>
				</ul>
			</nav>
		</div>
	</div>
</div>

<div class="navigation-mobile">
	<ul>
		<li><a ng-class="{ active: isActive('/') }" href="#/">Home</a></li>
		<li><a ng-class="{ active: isActive('/guacamole') }" href="#/guacamole">Guacamole</a></li>
		<li><a ng-class="{ active: isActive('/pulp') }" href="#/pulp">Pulp</a></li>
		<li><a ng-class="{ active: isActive('/cut-fruit') }" href="#/cut-fruit">Cut Fruit</a></li>
		<li><a ng-class="{ active: isActive('/recipes') }" href="#/recipes">Recipes</a></li>
		<li><a ng-class="{ active: isActive('/get-started') }" href="#/get-started">Get Started</a></li>
	</ul>
</div>