<div class="farmer farmer-image-left" ng-repeat="product in products | filter:{ type: activeProductPage }">
  <figure>
	<img src="images/guac/wester-guac.jpg"  height="502" width="400" alt="">
  </figure>
  <div class="farmer-details" >
  <div class="farmer-details-content">
	<h2>{{ product.name }}</h2>
	<p>{{ product.description }}</p>
	<h3>Application Idea</h3>
	<img ng-src="/images/recipes/applications/{{ product.application.image }}" alt="application recipe image" class="pull-left" style="margin-right:10px;"/>
	<p>{{ product.application.idea }} <a class="inline cboxElement" href="#avocado_bean_wrap_wrap1">View full recipe</a>.</p>
	<div class="product-links clearfix">
		<a href="/docs/Simplot-Harvest-Fresh-Avocados-Brochure.pdf" target="_blank">Harvest Fresh Brochure</a>
		<a href="mailto:?subject=Simplot%20Avocados%20Guacamole&amp;body=http://www.simplotfoods.com/avocados/guacamole">Email</a>
		<a href data-toggle="modal" data-target="#{{ product.id }}">Nutritionals</a>
	 </div>
  </div>
  </div>
   <table class="table table-inverse">
	  <thead>
		<tr>
		  <th>SKU<br>(10071179)</th>
		  <th>Pack Type</th>
		  <th>Portion</th>
		  <th>Weight<br>Net/Gross (lb.)</th>
		  <th>Case Dimensions</th>
		  <th>Case Cube</th>
		  <th>Cases/Layers</th>
		</tr>
	  </thead>
	  <tbody>
		<tr ng-repeat="sku in product.skus">
		  <th>{{ sku.sku }}</th>
		  <td>{{ sku.pack_type }}</td>
		  <td>{{ sku.portion }}</td>
		  <td>{{ sku.weight }}</td>
		  <td>{{ sku.case_dim }}</td>
		  <td>{{ sku.case_cube }}</td>
		  <td>{{ sku.cases }}</td>
		</tr>
	  </tbody>
	</table>

	<div class="modal fade" id="{{ product.id }}" tabindex="-1" role="dialog" aria-labelledby="{{ product.name }} modal">
	  <div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title" id="myModalLabel">{{ product.name }}</h4>
		  </div>
		  <div class="modal-body">
			<img ng-src="/images/nutritionals/{{ product.nutritionals.image }}" />
		  </div>
		  <div class="modal-footer">
			<a href="/pdf/nutritionals/{{ product.nutritionals.pdf}}" role="button" class="btn btn-default" target="_blank">Print</a>
		  </div>
		</div>
	  </div>
	</div>
</div>
